{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	GUGUGU - 서강대 패널 토크
{% endblock %}

{% block head %}
	<meta name="description" content="구구구, 쫌 쓸맛나는 오픈채팅 서비스. PC, 모바일 어디서든 사용 가능한 오픈채팅!">
	<link rel="stylesheet" href="{% static 'gugugu/css/hero.css' %}">
	<link rel="stylesheet" href="{% static 'gugugu/css/talk.css' %}">
	<link rel="stylesheet" href="{% static 'gugugu/css/background.css' %}">
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	<canvas id="canvas-background"> </canvas>
	<img id="sogang-shadow" src="{% static 'img/sogang-black.png' %}">
	<img id="partner-shadow" src="{% static 'img/logo-big-shadow.png' %}">
	<div class="position-relative text-center">
	<div class="w-100 d-flex justify-content-center flex-column py-5 my-5">
		<div class="inner-wrapper mt-auto mb-auto justify-content-center">
			<div class="container">
				<h3 class="font-weight-bold text-white mt-5">✨ 2019 서강대 패널 토크 ✨</h3>
				<h5 class="font-weight-light text-white">관리자 페이지😏</h5>
				<div class="row justify-content-center mt-5">
					<a href="{% url 'admin_stats' %}"><button class="btn btn-pill btn-light mx-2"><i class="fas fa-chart-pie mr-2"></i>전체 통계</button></a>
					<a href="{% url 'admin_claps' %}"><button class="btn btn-pill btn-light mx-2"><i class="fas fa-star mr-2"></i>Claps순 질문</button></a>
					<a href="{% url 'admin_time' %}"><button class="btn btn-pill btn-light mx-2"><i class="fas fa-clock mr-2"></i>최신순 질문</button></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container pb-5 mb-5">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8 text-left">
				<h5 class="text-white mt-5 font-weight-bold">박수꾼</h5>
				<p class="text-white mb-2">박수를 가장 많이 보낸 사람</p>
				<div class="card">
					<ul class="list-group">
						{% for d in d_by_claps_sent %}
							<li class="list-group-item">
								<div class="d-flex my-1">
									<p class="m-0 mr-auto">{{ d.registration.name }} ·
										{{ d.registration.department }} ·
										{% if d.registration.year == 5 %}
											졸업생
										{% else %}
											{{ d.registration.year }}학년
										{% endif %}
									</p>
									<p class="m-0">{{ d.claps_sent }}</p>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block body_script %}
	<script src="{% static 'vendor/granim.min.js' %}"></script>
	<script src="{% static 'gugugu/js/index.js' %}"></script>
	<script src="{% static 'gugugu/js/background.js' %}"></script>
{% endblock %}
