{% extends 'base.html' %}
{% load static %}

{% block title %}
	GUGUGU
{% endblock %}

{% block head %}
	<meta name="description" content="구구구, 쫌 쓸맛나는 오픈채팅 서비스. PC, 모바일 어디서든 사용 가능한 오픈채팅!">
	<link rel="stylesheet" href="{% static 'gugugu/css/hero.css' %}">
	<link rel="stylesheet" href="{% static 'gugugu/css/background.css' %}">
	<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	<canvas id="canvas-background"> </canvas>
	<img id="logo-shadow" src="{% static 'img/logo-big-shadow.png' %}">
	<div class="position-relative text-center">
		<div class="hero-wrapper w-100 d-flex justify-content-center flex-column">
			<div class="inner-wrapper mt-auto mb-auto justify-content-center">
				<img class="index-logo d-inline-block" src="{% static 'img/logo-bubble.png' %}">
				<div class="mt-2">
					<h3 class="font-weight-bold text-white d-inline"> GUGUGU.CO</h3>
					<span class="align-top d-inline badge mr-3 badge-outline-light text-white ml-2">BETA</span>
				</div>
				<p class="text-white font-weight-thin hero-h1 m-0 mt-3 p-0">쫌 쓸맛나는 오픈채팅 서비스.</p>
				<p class="text-white font-weight-thin hero-h2 m-0 mt-1 p-0">PC, 모바일 어디서든 사용 가능한 오픈채팅!</p>
				<div class="container">
					<form id="room-form" class="row justify-content-center" method="POST">
						{% csrf_token %}
						<div id="room-url" class="mt-5 col-10 col-md-8 col-lg-6 d-flex ">
							<h2 id="room-url-prefix" class="font-weight-bold d-inline align-self-baseline mr-2">gugugu.co/</h2>
							<input id="room-url-input" name="name" required class="form-control font-weight-bold d-inline align-self-baseline" type="text" placeholder="enter-url" value="{{ room_form.name.value|default:"" }}">
						</div>
					</form>
					<div id="room-form-errors" class="invalid-feedback d-block text-white"><br></div>
					<button id="room-create-button" type="submit" form="room-form" class="btn btn-lg btn-primary btn-pill mt-4 disabled">방 만들기</button>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-10 col-md-8 text-left">
					<p class="text-white hero-h3 m-0 p-0 font-weight-thin">현재 활발히 개발 중인 서비스입니다! 지금은 개발자 세미나 Q&A에서 사용되는 것을 타겟으로 잡고 있습니다. 서비스에 관한 아이디어 혹은 피드백 등이 있으시면 아래에 댓글로 달아주시기 바랍니다! 감사합니다!</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<a href="https://github.com/itsnamgyu/gugugu">
					<button type="button" class="btn btn-pill btn-dark btn-info my-5">
						<i class="fab fa-github mr-2"></i>
						<span> https://github.com/itsnamgyu/gugugu </span>
					</button>
				</a>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
					<div class="card text-left mb-5">
						<form class="card-body" id="feedback-form" method="post">
							{% csrf_token %}
							<h4 class="card-title font-weight-bold mt-2">피드백을 남겨요!</h4>
							{% for field in form %}
								{% if field.errors %}
									<div class="alert alert-danger alert-dismissible fade show" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true"> ×</span> </button>
										<i class="fa fa-error"></i>
										{{ field.label }}: {% for error in field.errors %}{{ error }}{% endfor %}
									</div>
								{% endif %}
							{% endfor %}
							<div class="form-group mt-4">
								<input type="text" class="form-control" name="nickname" id="form-nickname" placeholder="닉네임" form="feedback-form" value="{{ form.nickname.value }}">
							</div>
							<div class="form-group">
								<textarea class="form-control" id="form-content" rows="3" placeholder="내용" name="content" form="feedback-form">{{ form.content.value }}</textarea>
							</div>
							<div class="w-100 text-right">
								<button type="submit" id="form-submit" form="feedback-form" class="btn btn-success" data-dismiss="modal">올리기</button>
							</div>
						</form>
					</div>
					{% for comment in comments %}
						<div class="card feedback-card text-left mt-3 {% if forloop.last %}mb-5{% endif %}">
							<div class="card-body">
								<h5 class="card-title font-weight-bold mt-2">By {{ comment.nickname }}</h5>
								<p class="">{{ comment.content }}!</p>
							</div>
						</div>
					{%  endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_script %}
	<script src="{% static 'vendor/granim.min.js' %}"></script>
	<script src="{% static 'gugugu/js/index.js' %}"></script>
	<script src="{% static 'gugugu/js/background.js' %}"></script>

	<script>
      let input = $('#room-url-input');
      let prefix = $('#room-url-prefix');
      let button = $('#room-create-button');

      function setValid(valid) {
          if (valid) {
              input.addClass('is-valid');
              prefix.addClass('is-valid');
              button.removeClass('disabled');
          } else {
              input.addClass('is-invalid');
              prefix.addClass('is-invalid');
              button.addClass('disabled');
          }
      }


      {% if valid is not None %}
		      setValid("{{ valid }}" === "True");
      {% endif %}

      roomFormErrors = $('#room-form-errors');

      input.on('input', function() {
          let name = $(this).val();

          prefix.removeClass('is-valid');
          input.removeClass('is-valid');
          prefix.removeClass('is-invalid');
		      input.removeClass('is-invalid');
          button.addClass('disabled');

          if (name === '') return;

          window.clearTimeout($(this).data("timeout"));
          $(this).data("timeout", setTimeout(function () {
              $.ajax({
                  url: '{{  validate_room_name_url }}',
                  data: {
                      'name': name,
                  },
                  dataType: 'json',
                  success: function (data) {
                      setValid(data.usable);
                      if (data.error_msg === "") {
                          roomFormErrors.html("<br>");
                      } else {
                          roomFormErrors.html(data.error_msg);
                      }
                  }
              });
          }, 250));
      });
	</script>
{% endblock %}
