{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	GUGUGU - {% trans 'Sign In' %}
{% endblock %}

{% block head %}
	<meta name="description" content="구구구, 쫌 쓸맛나는 오픈채팅 서비스. PC, 모바일 어디서든 사용 가능한 오픈채팅!">
	<link rel="stylesheet" href="{% static 'gugugu/css/hero.css' %}">
	<link rel="stylesheet" href="{% static 'gugugu/css/background.css' %}">
	<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	<canvas id="canvas-background"> </canvas>
	<img id="logo-shadow" src="{% static 'img/logo-big-shadow.png' %}">
	<div class="position-relative text-center">
		<div class="hero-wrapper w-100 d-flex justify-content-center flex-column">
			<div class="inner-wrapper mt-auto mb-auto justify-content-center">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-12 col-md-8 col-lg-6 text-left mt-5">
							<h3 class="text-white font-weight-bold hero-h1 m-0 p-0">{% trans 'Sign In' %}</h3>
							<form class="mt-4" id="login-form" method="post">
								{% csrf_token %}
								<div class="form-group text-white">
									<label for="id_login">{% trans 'Email' %}</label>
									<input class="form-control" type="email" name="login" autofocus="" required="" id="id_login">
									<div class="invalid-feedback d-block text-white">
										{{ form.login.errors.as_text }}
									</div>
								</div>
								<div class="form-group text-white">
									<label for="id_password">{% trans 'Password' %}</label>
									<input class="form-control" type="password" name="password" required="" id="id_password">
									<div class="invalid-feedback d-block text-white">
										{{ form.password.errors.as_text }}
									</div>
								</div>
								<div class="invalid-feedback d-block text-white">
									{{ form.non_field_errors.as_text }}
								</div>
								<a class="font-weight-bold text-white" href="{% url 'account_signup' %}?next={{ request.GET.next }}">가입하기</a>
								<button type="submit" class="btn ml-auto mt-3 float-right">{% trans 'Sign In' %}</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_script %}
	<script src="{% static 'vendor/granim.min.js' %}"></script>
	<script src="{% static 'gugugu/js/index.js' %}"></script>
	<script src="{% static 'gugugu/js/background.js' %}"></script>
{% endblock %}
