{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	GUGUGU
{% endblock %}

{% block head %}
	<meta name="description" content="오픈 채팅방에 참여해보세요!">
	<link rel="stylesheet" href="{% static 'gugugu/css/room.css' %}">
	<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	<canvas id="canvas-background"> </canvas>
	<img id="logo-shadow" src="{% static 'img/logo-big-shadow.png' %}">
	<div class="position-relative">
		<div class="hero w-100 d-flex flex-column justify-content-center">
			<div class="mt-auto mb-auto text-center">
				<div class="mt-2">
					<h5 class="text-white mt-3">{{ room.name }}</h5>
					<h3 class="text-white font-weight-bold">{% trans "Welcome, " %}{{ member.name }}</h3>
				</div>
			</div>
		</div>
		<div id="message-wrapper" class="m-3">
			{% for message in messages %}
				{% if message.member.name == member.name %}
					<div class="card mt-2 px-4 py-3 my-message">
						<h5 class="text-white d-inline-block m-0 message-name font-weight-bold font-default">{{ message.member.name }}</h5>
						<p class="text-white d-inline-block m-0 mt-1 message-text font-default">{{ message.text }}</p>
					</div>
				{% else %}
					<div class="card mt-2 px-4 py-3">
						<h5 class="d-inline-block m-0 message-name font-weight-bold font-default">{{ message.member.name }}</h5>
						<p class="d-inline-block m-0 mt-1 message-text font-default">{{ message.text }}</p>
					</div>
				{% endif %}

			{% endfor %}
		</div>
	</div>
	<div id="message-form-wrapper" class="fixed-bottom bg-white">
		<form id="message-form" class="d-flex" method="post">
			{% csrf_token %}
			<input name="message-text" class="form-control w-100 m-1 font-default" required="" id="id_message-text" placeholder="{% trans 'Enter message' %}">
			<button id="message-form-submit" class="btn btn-primary m-1 font-weight-bold font-default" type="submit">Send</button>
		</form>
	</div>
{% endblock %}

{% block body_script %}
	<!--<script src="{% static 'vendor/granim.min.js' %}"></script>-->
	<script src="{% static 'gugugu/js/index.js' %}"></script>
	<script>
      jQuery(window).ready(function() {
          const formWrapper = $("#message-form-wrapper");
          const messageWrapper = $("#message-wrapper");
          const messageForm = $("#message-form");
          const messageText = $("#id_message-text");

          messageText.focus();
          messageText.click();

          messageWrapper.css('padding-bottom', messageForm.height() + 'px');

          messageText.keydown(function(e) {
              if (e.keyCode === 13 && !e.shiftKey && !e.ctrlKey && !e.altKey) {
                  e.preventDefault();
                  $("#message-form-submit").click();
                  return false;
              }
          });

          function update_messages(data, status) {
              let bottom = false;
              if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                  bottom = true;
              }

              if( $.isArray(data.messages) && data.messages.length ) {
                  $.each(data.messages, function(index, value) {
                      let content = '';
                      if (value.sender === String("{{ member.name }}")) {
                          content = '<div class="card mt-2 px-4 py-3 my-message">' +
                              '<h5 class="text-white d-inline-block m-0 message-name font-weight-bold font-default">' + value.sender + '</h5>' +
                              '<p class="text-white d-inline-block m-0 mt-1 message-text font-default">' + value.text + '</p>' +
                              '</div>';
                      } else {
                          content = '<div class="card mt-2 px-4 py-3">' +
                              '<h5 class="d-inline-block m-0 message-name font-weight-bold font-default">' + value.sender + '</h5>' +
                              '<p class="d-inline-block m-0 mt-1 message-text font-default">' + value.text + '</p>' +
                              '</div>';
                      }
                      messageWrapper.append(content);
                  });
              }

              if (bottom) {
                  $('html, body').scrollTop( $(document).height() );
              }
          }

          messageForm.submit(function(event) {
              event.preventDefault();
              $.ajax({
                  type: "POST",
                  url: "{% url 'room_ajax' pk=room.pk %}",
                  data: messageForm.serialize(),
                  success: update_messages,
              });
              messageForm[0].reset();
              return false;
          });

          setInterval(function(){
              $.get("{% url 'room_ajax' pk=room.pk %}", update_messages);
          }, 300);
      });
	</script>
{% endblock %}
