{% extends 'base.html' %}
{% load static %}

{% block title %}
	GUGUGU
{% endblock %}

{% block head %}
	<meta name="description" content="오픈 채팅방에 참여해보세요!">
	<link rel="stylesheet" href="{% static 'gugugu/css/room.css' %}">
	<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	<canvas id="canvas-background" class="bg-dark"> </canvas>
	<img id="logo-shadow" src="{% static 'img/logo-big-shadow.png' %}">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
{% endblock %}

{% block body_script %}
	<script src="{% static 'vendor/granim.min.js' %}"></script>
	<script src="{% static 'gugugu/js/index.js' %}"></script>
	<script>
	</script>
{% endblock %}
