{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	GUGUGU
{% endblock %}

{% block head %}
	<meta name="description" content="오픈 채팅방에 참여해보세요!">
	<link rel="stylesheet" href="{% static 'gugugu/css/room.css' %}">
	<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	<canvas id="canvas-background"> </canvas>
	<img id="logo-shadow" src="{% static 'img/logo-big-shadow.png' %}">
	<div class="position-relative">
		<div class="hero w-100 d-flex flex-column justify-content-center">
			<div class="mt-auto mb-auto text-center">
				<div class="mt-2">
					<h5 class="text-white mt-3">{{ room.name }}</h5>
					<h3 class="text-white font-weight-bold">{% trans "Welcome, " %}{{ member.name }}</h3>
				</div>
			</div>
		</div>
		<div id="message-wrapper" class="m-3">
			{% for message in messages %}
				{% if message.member.name == member.name %}
					<div class="card mt-2 p-4 my-message">
						<h5 class="text-white d-inline-block m-0 font-weight-bold">{{ message.member.name }}</h5>
						<p class="text-white d-inline-block m-0 mt-2">{{ message.text }}</p>
					</div>
				{% else %}
					<div class="card mt-2 p-4">
						<h5 class="d-inline-block m-0 font-weight-bold">{{ message.member.name }}</h5>
						<p class="d-inline-block m-0 mt-2">{{ message.text }}</p>
					</div>
				{% endif %}

			{% endfor %}
		</div>
	</div>
	<div id="message-form-wrapper" class="fixed-bottom bg-white">
		<form id="message" class="d-flex" method="post">
			{% csrf_token %}
			<textarea name="message-text" class="form-control w-100 m-1" rows="2" required="" id="id_message-text"></textarea>
			<button id="message-form-submit" class="btn btn-primary m-1" type="submit">Send</button>
		</form>
	</div>
{% endblock %}

{% block body_script %}
	<script src="{% static 'vendor/granim.min.js' %}"></script>
	<script src="{% static 'gugugu/js/index.js' %}"></script>
	<script>
      jQuery(window).ready(function() {
          let formWrapper = $("#message-form-wrapper");
          let messageWrapper = $("#message-wrapper");
          console.log(formWrapper.height() + 'px');
          messageWrapper.css('padding-bottom', formWrapper.height() + 'px');

          formWrapper.change(function() {
              messageWrapper.css('padding-bottom', formWrapper.height() + 'px');
          });

          $("#id_message-text").keydown(function(e){
              if (e.keyCode === 13 && !e.shiftKey && !e.ctrlKey && !e.altKey) {
                  e.preventDefault();
                  $("#message-form-submit").click()
                  return false;
              }
          });

          setInterval(function(){
              $.get("{% url 'room_ajax' pk=room.pk %}", function(data, status){
                  console.log(data);
                  if( $.isArray(data.messages) && data.messages.length ) {
                      $.each(data.messages, function(index, value) {
		                      let content = '';
		                      if (value.sender === String("{{ member.name }}")) {
                              content = '<div class="card mt-2 p-4 my-message">' +
                                  '<h5 class="text-white d-inline-block m-0 font-weight-bold">' + value.sender + '</h5>' +
                                  '<p class="text-white d-inline-block m-0 mt-2">' + value.text + '</p>' +
                                  '</div>';
                          } else {
                              content = '<div class="card mt-2 p-4">' +
                                  '<h5 class="d-inline-block m-0 font-weight-bold">' + value.sender + '</h5>' +
                                  '<p class="d-inline-block m-0 mt-2">' + value.text + '</p>' +
                                  '</div>';
                          }
                          messageWrapper.append(content);
                      });
                  }
              });
          }, 5000);
      });
	</script>
{% endblock %}
