#canvas-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: #501145; /* Old browsers */
    background: -moz-linear-gradient(left, #501145 0%, #501145 0%, #c63771 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #501145 0%,#501145 0%,#c63771 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #501145 0%,#501145 0%,#c63771 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#501145', endColorstr='#c63771',GradientType=1 ); /* IE6-9 */
}

#logo-shadow {
    position: fixed;
    width: 100%;
    top: -50vw;
    left: 10vw;
}

.index-logo {
    width: 3rem;
}

.hero {
    height: 30rem;
    min-height: 300px;:
}

#message-form-wrapper {
    bottom: 0;
}

#id_message-text {
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}

#message-form-submit {
    font-size: 1.1rem;
}

.my-message {
    background-color: #56e;
}

.message-name {
    font-size: 1rem;
}

.message-text {
    font-size: 1.1rem;
}

.clap-count {
    font-size: 20px;
}

.clap-btn {
    width: 40px;
    height: 40px;
}

.clap-container {
    display: flex;
    justify-content: flex-end;
}
.clap-container .count-container {
    display: none;
}
.clap-container .clap-count-wrapper {
    color: #56e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clap-container .clap-btn-wrapper {
    margin-left: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

