#canvas-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#logo-shadow {
    position: fixed;
    width: 100%;
    top: -50vw;
    left: 10vw;
}

.index-logo {
    width: 3rem;
}

.hero {
    height: 20rem;
    min-height: 240px;:
}


#id_message-text {
    font-size: 16px;
}

.my-message {
    background-color: #56e;
}
