#sogang-shadow {
    position: fixed;
    width: 40%;
    top: 10vw;
    left: 70vw;
}

#partner-shadow {
    position: fixed;
    width: 80%;
    top: -5vw;
    left: -30vw;
}

.sogang-hero-wrapper {
    min-height: 60vh;
    height: 30em;
    max-height: 560px;
}

.talk-text {
    font-size: 1.1em;
}

.p-header {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 0.3em;
}

.question-meta {
    font-size: 1.0em;
}

.question {
    font-size: 1.2em;
    line-height: 2;
    font-family: sans-serif !important;
}