{% load static %}
{% load i18n %}
<div class="position-relative pt-5 mt-4" style="background: #111;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<img src="{% static 'img/logo.png' %}" class="d-inline my-auto ml-2" style="width: 3rem; height: 3rem;">
				<h5 class="d-inline font-weight-bold my-auto text-white">GUGUGU</h5>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-12">
				<h5 class="d-block text-888">문의 및 오류 제보</h5>
				<a href="https://github.com/itsnamgyu/gugugu" class="d-block text-888 mt-2"><i class="fab fa-github mr-2"></i>github.com/itsnamgyu/gugugu/issues</a>
				<a href="mailto:itsnamgyu@gmail.com" class="d-block text-888 mt-2"><i class="fas fa-envelope mr-2"></i>itsnamgyu@gmail.com</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12 p-3 text-center text-white font-weight-light" style="font-size: 0.9rem;">
				GUGUGU, 2019 ©
				<a href="https://github.com/itsnamgyu" class="text-white">Namgyu Ho</a>,
				<a href="https://github.com/hyun-park" class="text-white">Junghyun Park</a>.
				All Rights Reserved.
			</div>
		</div>
	</div>
</div>
