{% load static %}
{% load i18n %}
<nav class="navbar navbar-light navbar-transparent fixed-top position-absolute">
	<a class="navbar-brand align-middle d-inline-block font-weight-bold text-white" href="{%  url 'index' %}">
		<img src="{% static 'img/logo.png' %}" width="40" height="40" class="d-inline-block" alt="">
		GUGUGU.CO
	</a>
	{% if user.registration %}
		<p class="navbar-text text-white my-auto">안녕하세요, {{ user.registration.name }}님!</p>
	{% else %}
		<!--<a class="navbar-text text-white" href="{% url 'account_login' %}?next={{ request.path }}">{%  trans 'Sign In' %}</a>-->
	{% endif %}
</nav>